@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 12px;
    --font: 'Kumbh Sans', sans-serif;
    --soft-violet-bg: hsl(273, 75%, 66%);
   --soft-blue-bg: hsl(240, 73%, 65%);
   --ultra-dark-greyish-blue-txt: hsl(237, 12%, 33%);
   --dark-greyish-blue: hsl(240, 6%, 50%);
   --divider-gryeish-bluw: hsl(240, 5%, 91%);
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--font);
    /* overflow-y: hidden; */
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%) );
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* in main class width and height constraints*/

.faq__container {
    min-width: 320px;
    max-width:900px;
    min-height:43rem;
    height:100%;
    background: #fff;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:0 auto;
    margin-top: 10rem;
}


/* image styles */

.faq__imgdiv {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: top 1rem left -1rem;
    position: relative;
}

.faq__imgdiv__holder {
    overflow-x: hidden;
}

.faq__imgdiv_img {
    display: block;
    margin-top:5.5rem;
    margin-left:-5rem;
}

.faq__imgdiv_img2 {
    margin-top:-70%;
    margin-left:-22.5%;
}


/* content styles */
.faq__content {
    margin-right:3rem;
    margin-left: 3rem;
    margin-top: 3rem;
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
}


.faq__content__title {
    font-family: inherit;
    text-transform: uppercase;
    margin-top: 2rem;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

.faq__content__list{
    font-family: var(--font);
}

details {
    margin-top: 20px;
    padding: 5px 0 20px 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

summary {
    color: var(--ultra-dark-greyish-blue-txt);
}

.faq__summary{
    list-style: none;
}

.faq__summary:hover,
.faq_summary:active { 
    color: orangered;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    font-weight: 700;
}

.faq__question {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faq__question:active {
    font-weight: 700;
  }

.faq__answer {
    /* border: 1px solid green; */
    color: var(--dark-greyish-blue);
    line-height:1.5em;
    display: inline;
    padding: 0.7rem 0 0 0;
}

p {
    margin-top: 1rem;
}


/* ---- media queries ---- */

@media (hover: hover) {
    .faq__question:hover {
      color: var(--soft-red);
      transition: all ease-in-out 0.3s;
    }
}
  
  @media screen and (max-width: 1025px) {
    .faq__container {
      grid-template-columns: 1fr;
      grid-template-rows: 17rem 1fr;
      justify-items: center;
      margin-top: 25%;
      width: 70%;
      min-height: 55rem;
    }

    .faq__imgdiv {
        background-size: 90%;
        background-position: top 100% left 10%;
    }

    .faq__imgdiv__holder {
        overflow-x: initial;
    }

    .faq__imgdiv_img {
        margin-top: -15rem;
        margin-left: initial;
    }

    .faq__imgdiv_img2 {
        margin-top: -15rem;
        margin-left: initial;
    }

    .faq__content{
        width: 80%;
    }

    .faq__question{
        gap: 2rem;
    }

    .faq__question{
        gap: 2rem;
        width: inherit;
    }
  }  

  @media screen and (max-width: 700px) {
  .faq__container {
    width: 45%;
    margin-top: 35%;
    grid-template-rows: 10rem 1fr;
  }

  .faq__content{
    width: 100%;
  }
  .faq__imgdiv {
    background-size: 80%;
  }

  .faq__imgdiv_img {
    margin-top: -13rem;
    margin-left: 2rem;
    width: 90%;
  }
}



